services:
  db:
    container_name: postgres
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      LANG: C.UTF-8
      LC_ALL: C.UTF-8
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - db-network
    env_file:
      - .env

  catchup-spring-server:
    container_name: catchup-server
    image: "${DOCKER_REGISTRY_URL}/${DOCKER_IMAGE_NAME}:${IMAGE_TAG}"
    env_file:
      - .env
    networks:
      - db-network
    ports:
      - "8080:8080"
    depends_on:
      - db
    restart: on-failure

networks:
  db-network:

volumes:
  postgres-data: