services:
  db:
    container_name: postgres
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      LANG: C.UTF-8
      LC_ALL: C.UTF-8
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - db-network
    env_file:
      - .env

  catchup-spring-server:
    container_name: catchup-server
    image: "${DOCKER_REGISTRY_URL}/${DOCKER_IMAGE_NAME}:${IMAGE_TAG}"
    env_file:
      - .env
    networks:
      - db-network
    ports:
      - "8080:8080"
    depends_on:
      - db
    restart: on-failure

  redis:
    container_name: redis
    image: redis
    env_file:
      - .env
    ports:
      - "6379:6379"
    networks:
      - db-network
    volumes:
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
      - ./redis_data:/data
    command: redis-server /usr/local/etc/redis/redis.conf
    restart: always

networks:
  db-network:

volumes:
  postgres-data: